<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div class="main-content">
 <h1 > {{>header}} </h1>
    <img class="portrait" src="img/robot.png" />
    <p>{{name}}</p>
  </div>
   
    <footer>   {{>footer}} </footer>
</body>

</html>