<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="img/weather.png" />
<link rel="stylesheet" href="css/style.css" />

</head>
<body>
<div class="main-content">
        <h1> {{>header}}</h1>
    <p>MAde by {{name}} </p>

    <form>
        <input />
        <button>submit</button>
    </form>
    <p id="msg-1"></p>
    <p id="msg-2"></p>
</div>

    
        <footer>   {{>footer}} </footer>

<script src="js/index.js"></script>

</body>

</html>